.banner {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #4cabdb;
}
.bgImg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.home__content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5%;
  display: flex;
  width: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
}
button.Home__button {
  padding: 15px 20px;
  background-color: tomato;
  border: none;
  cursor: pointer;
  color: #fff;
}
.homeHeading {
  text-align: center;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  font-size: 1.4vmax;
  margin: 5vmax auto;
  color: rgb(0, 0, 0, 0.7);
}

h1.discountPrice {
  background: #d92662;
  border-radius: #fff;
  color: #fff !important;
  font-size: 14px;
  font-weight: 500;
  position: absolute;

  right: 0;
  line-height: 18px;
  overflow: hidden;
  padding: 0 6px;
  margin-bottom: 2px;
}

.main-product {
  margin: 50px 80px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 15px;
}
@media screen and (max-width: 992px) {
  .main-product {
    margin: 30px 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
  }
}
@media screen and (max-width: 768px) {
  .main-product {
    margin: 20px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }
}
@media screen and (max-width: 576px) {
  .main-product {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
  }
}
.ProductCard {
  width: 185px;
  height: 300px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
  position: relative;
}
.ProductCard .stock-price {
  background: #24963f;
  border-radius: 0 2px 2px 0;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  right: 0;
  line-height: 18px;
  overflow: hidden;
  padding: 0 6px;
  position: absolute;
  text-overflow: ellipsis;
}
img.ProductImg {
  width: 14vmax;
}
.ProductCard > div {
  margin: 0.5vmax;
  display: flex;
  justify-content: flex-start;
}
.ProductCard > div > span {
  margin: 0.5vmax;
  font: 300 0.7vmax "Roboto";
}
.productName {
  font-family: "Roboto";
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
  color: #000;
  margin-bottom: 0;
}
.ProductCard > span {
  margin: 0.5vmax;
  color: tomato;
  font-family: "Frankin Gothic Medium", "Arrial Narrow", Arial, sans-serif;
  font-size: 1vmax;
}
.ProductCard:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
  transform: translateY(-1vmax);
}
@media screen and (max-width: 600px) {
  .sidebar__product {
    margin: 0 20px !important;
  }
  .ProductCard {
    width: 150px;
  }
  .ProductCard > p {
    font-size: 1.7vmax;
  }
  .ProductCard > div {
    margin: 0vmax;
    display: block;
  }
  .ProductCard > span {
    font-size: 1.5vmax;
  }
  .ProductCard > div > span {
    margin: 0 0.5vmax;
    font: 300 1vmax "Roboto";
  }
}
.p__Price {
  font-weight: bold;
}
.banner {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: #4cabdb;
}
.bgImg {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.home__content {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 5% !important;
  display: flex;
  width: 100vh !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
button.Home__button {
  padding: 15px 20px;
  background-color: tomato;
  border: none;
  cursor: pointer;
  color: #fff;
}
.homeHeading {
  text-align: center;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  font-size: 1.4vmax;
  margin: 5vmax auto;
  color: rgb(0, 0, 0, 0.7);
}

.ProductCard {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
}
img.ProductImg {
  object-fit: cover;
  width: 100%;
  height: 150px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.ProductCard > div {
  margin: 0.5vmax;
  display: flex;
  justify-content: flex-start;
}
.ProductCard > div > span {
  margin: 0.5vmax;
  font: 300 0.7vmax "Roboto";
}
.productName {
  font-family: "Roboto";
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
  color: #000;
  margin-bottom: 0;
}
.ProductCard > span {
  margin: 0.5vmax;
  color: tomato;
  font-family: "Frankin Gothic Medium", "Arrial Narrow", Arial, sans-serif;
  font-size: 1vmax;
}
.ProductCard:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);
  transform: translateY(-1vmax);
}
@media screen and (max-width: 600px) {
  .ProductCard > p {
    font-size: 1.7vmax;
  }
  .ProductCard > div {
    margin: 0vmax;
    display: block;
  }
  .ProductCard > span {
    font-size: 1.5vmax;
  }
  .ProductCard > div > span {
    margin: 0 0.5vmax;
    font: 300 1vmax "Roboto";
  }
}
