/* @media only screen and (max-width: 1200px) {
  .Footer .location strong {
    font-size: 18px;
    font-weight: bold;
  }
  .Footer .location h6 {
    font-size: 15px;
  }
  .Footer .mobile h5 {
    font-size: 20px;
    font-weight: bold;
  }
  .Footer .mobile a h3 {
    font-size: 15px;
  }
} */
